.flex
    display flex
    align-items center

.flex-center
    display flex
    align-items center
    justify-content center

.flex-between
    display flex
    align-items center
    justify-content space-between

.flex-column
    display flex
    flex-direction column

.flex-around
    display flex
    align-items center
    justify-content space-around

.cursor
    cursor pointer

.num
    font-family 'Digiface'

.chart
    width 100%
    height 100%

.chart, .full
    width 100%
    height 100%

.text_hidden
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.line
    height 2px
    background linear-gradient(to right, transparent, #01fffc, transparent)

.noData
    width 100%
    height 100%
    color #fff
    font-size .08rem
    display flex
    justify-content center
    align-items center

.scroll
    overflow auto
    height 100%
    padding-right 5px
    box-sizing border-box

.scroll::-webkit-scrollbar
    width 3px
    height 2px
    background-color transparent

.scroll::-webkit-scrollbar-track
    -webkit-box-shadow inset 0 0 6px transparent
    background-color transparent

.scroll::-webkit-scrollbar-thumb
    background-color transparent

.title_name
    position relative

    &:after
        content ''
        position absolute
        bottom -3px
        left 0
        width 100%
        height .05rem
        background #15467B
        z-index -1

.margin--bottom
    margin-bottom: 8px